<app-title [title]="'Dodaj nową pracę'" [statement]="statement"></app-title>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-horizontal-stepper linear #stepper>

                <mat-step label="Stwórz zadanie" [editable]="false" [completed]="stepperSteps[0].completed">
                    <app-add-task-general (createTaskEmitter)="createTask($event)">
                    </app-add-task-general>
                </mat-step>

                <mat-step label="Dodaj pracowników" [editable]="false" [completed]="stepperSteps[1].completed">
                    <app-add-task-users (addAppUserEmitter)="addAppUser($event)" (endOfAddingEmitter)="changeStep(2)">
                    </app-add-task-users>
                    <div class="d-flex justify-content-center">
                        <button (click)="changeStep(2)" *ngIf="userAdded" @fade mat-raised-button color="primary" class="w-50 mt-5">Przejdź dalej</button>
                    </div>
                </mat-step>

                <mat-step label="Dodaj założenia projektowe" [editable]="false" [completed]="stepperSteps[2].completed">
                    <app-add-task-goals (addGoalEmitter)="addGoal($event)" (endOfAddingEmitter)="changeStep(3)"></app-add-task-goals>
                    <div class="d-flex justify-content-center">
                        <button (click)="changeStep(3)" *ngIf="goalAdded" @fade mat-raised-button color="primary" class="w-50 mt-5">Przejdź dalej</button>
                    </div>

                </mat-step>
                <mat-step label="Dodaj zadania" optional [editable]="false" [completed]="stepperSteps[3].completed">
                    <app-add-task-subtasks (addSubtaskEmitter)="addSubtask($event)"></app-add-task-subtasks>
                    <h2 class="text-center mt-4">lub</h2>
                    <div class="d-flex justify-content-center">
                        <button mat-raised-button class="text-light bg-success w-50 mt-5">Zakończ</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <div *ngIf="currentTask.title !== undefined" class="col-2">


            <div @fade class="d-flex flex-column my-3">
                <h1 @fade *ngIf="currentTask.title !== undefined">Podsumowanie</h1>
                <h2 @fade *ngIf="currentTask.title !== undefined">Tytuł: <i>{{currentTask.title}}</i></h2>
                <h2 @fade *ngIf="currentTask.description !== undefined">Opis: <i>{{currentTask.description}}</i></h2>
                <h2 @fade *ngIf="currentTask.taskPriority !== undefined">Priorytet: <i>{{getPriority()}}</i></h2>
                <h2 @fade *ngIf="currentTask.appUsers.length > 0">Automatycy:
                    <mat-list>
                        <mat-list-item @fade class="d-flex justify-content-center" *ngFor="let user of currentTask.appUsers">{{user.username}}</mat-list-item>
                    </mat-list>
                </h2>

                <h2 @fade *ngIf="currentTask.goals.length > 0">
                    Założenia:
                    <mat-list>
                        <mat-list-item @fade class="d-flex justify-content-center" *ngFor="let goal of currentTask.goals">{{goal.content}}</mat-list-item>
                    </mat-list>
                </h2>


                <h2 @fade *ngIf="currentTask.subTasks.length > 0">
                    Zadania:
                    <mat-list>
                        <mat-list-item @fade class="d-flex justify-content-center" *ngFor="let subtask of currentTask.subTasks">{{subtask.title}}</mat-list-item>
                    </mat-list>
                </h2>

            </div>
        </div>
    </div>
</div>