<app-title [title]="'Dodaj nową pracę'" [statement]="statement"></app-title>

<mat-horizontal-stepper linear #stepper>
    <mat-step label="Stwórz zadanie" [editable]="false" [completed]="stepperSteps[0].completed">
        <app-add-task-general (createTaskEmitter)="createTask($event)">
        </app-add-task-general>
    </mat-step>
    <mat-step label="Dodaj pracowników" [editable]="false" [completed]="stepperSteps[1].completed">Dodaj pracowników</mat-step>
    <mat-step label="Dodaj założenia projektowe" [editable]="false" [completed]="stepperSteps[2].completed">Założenia projektowe</mat-step>
    <mat-step label="Dodaj zadania" [editable]="false" [completed]="stepperSteps[3].completed">Dodaj zadanie</mat-step>
</mat-horizontal-stepper>