<div class="m-5">
    <h1 mat-dialog-title>Dodaj automatyka do wykonania pracy</h1>
    <mat-dialog-content class="d-flex justify-content-center">
        Czy chcesz dodać {{data.username}} użytkownika do tej pracy? <br> (Zostanie powiadomiony o tym e-mailem)
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-around mt-3">
        <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="primary">Tak</button>
        <button mat-raised-button mat-dialog-close mat-dialog-close="false" color="warn">Nie</button>
    </mat-dialog-actions>
</div>