<div @fade class="">
    <app-title [title]="'Awarie'" [statement]="statement"></app-title>
    <!-- Navigate -->
    <div class=" mt-5 border rounded p-3">
        <h3 class="tex-center">Wybierz tryb filtrowania</h3>
        <h5 class="tex-center">Aktualnie wybrany - {{mode}}</h5>

        <div class="d-flex justify-content-around mt-5">
            <button class="btn btn-outline-light" (click)="setAllMode()">Wszystkie</button>
            <button class="btn btn-outline-danger" (click)="setTodoMode()">Do wykonania</button>
            <button class="btn btn-outline-primary" (click)="setInProgressMode()">Aktualne</button>
            <button class="btn btn-outline-success" (click)="setDoneMode()">Zakończone</button>
        </div>
    </div>
    <!-- Table -->
    <h3 class="my-4">{{mode}}</h3>
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">Id:</th>
                <th scope="col">Nazwa:</th>
                <th scope="col">Data zgłoszenia:</th>
                <th scope="col">Data zakończenia:</th>
                <th scope="col">Zgłaszający</th>
                <th scope="col">Hala: </th>
                <th scope="col">Maszyna: </th>
                <th scope="col">Automatyk: </th>
                <th *ngIf="!isUser" scope="col">Usuń: </th>



            </tr>
        </thead>
        <tbody>
            <tr @fade id="tr-hover-custom" *ngFor="let maintenanceTask of currentMaintenanceTasks" [ngClass]="{
                'bg-danger': maintenanceTask.taskStatus === 'TODO',
                'bg-primary': maintenanceTask.taskStatus === 'IN_PROGRESS',
                'bg-success': maintenanceTask.taskStatus === 'DONE'
            }">
                <td>{{maintenanceTask.id}}</td>
                <td>{{maintenanceTask.title}}</td>
                <td>{{maintenanceTask.creationDate | date: 'H:m:s dd.MM.yyyy'}}</td>
                <td>{{maintenanceTask.finishDate | date: 'H:m:s dd.MM.yyyy'}}</td>
                <td>{{maintenanceTask.maintenanceWorker.firstName}} {{maintenanceTask.maintenanceWorker.secondName}}</td>
                <td>{{maintenanceTask.breakdownPlace}}</td>
                <td>{{maintenanceTask.breakdownMachine}}</td>
                <td>
                    <span *ngIf="maintenanceTask.repairMan !== null">{{maintenanceTask.repairMan.username}}</span>
                </td>
                <td *ngIf="!isUser"><button class="btn btn-outline-dark" [attr.data-target]="'#delete-'+maintenanceTask.id" data-toggle="collapse">Usuń</button>
                    <div class="collapse" [attr.id]="'delete-'+maintenanceTask.id">
                        <h5 class="mt-3">Czy napewno chcesz usunąć awarie ?</h5>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-outline-dark" [attr.data-target]="'#delete-'+maintenanceTask.id" data-toggle="collapse" (click)="deleteMaintenanceTask(maintenanceTask.id)">Usuń</button>
                            <button class="btn btn-outline-light" [attr.data-target]="'#delete-'+maintenanceTask.id" data-toggle="collapse">Anuluj</button>
                        </div>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
</div>