<app-title [statement]="statement" [title]="'Panel administratora'"></app-title>
<h2>Zarządzaj użytkownikami</h2>
<div class="mt-3 d-flex align-items-center flex-column">
  <div class="card w-50" id="card-custom" *ngFor="let user of users">
    Id: {{user.id}} <br>
    Login: {{user.username}}<br>
    Email: {{user.email}} <br>
    Rola: {{user.role}} <br>
    Aktywowany przed administrator: {{user.adminApproved}} <br>
    Konto aktywne: {{user.enabled}} <br>

    <div class="d-flex justify-content-around w-100 mt-3">
      <button class="btn btn-outline-primary" [attr.data-target]="'#activate-'+user.id" data-toggle="collapse">Aktywacja
      </button>
      <button class="btn btn-outline-success" [attr.data-target]="'#role-'+user.id" data-toggle="collapse">Zmień
        role</button>
      <button class="btn btn-outline-danger" [attr.data-target]="'#delete-'+user.id" data-toggle="collapse">Usuń</button>
    </div>

    <!-- User activate/deactivate -->
    <div class="collapse mt-3 w-100" [attr.id]="'activate-'+user.id">
      <h5>Aktywacja użytkownika:</h5>
      <div class="d-flex justify-content-between w-100">
        <button class="btn btn-outline-success " (click)="activateUser(user.id, true)">Aktywuj</button>
        <button class="btn btn-outline-danger " (click)="activateUser(user.id, false)">Dezaktywuj</button>
      </div>
    </div>
    <!--      Change user role-->
    <div class="collapse mt-3 w-100" [attr.id]="'role-'+user.id">
      <h5>Rola użytkownika:</h5>
      <div class="d-flex justify-content-between w-100">
        <app-select-custom #role class="w-50" [placeholder]="'Wybierz docelową role'" [title]="'Rola:'"
          [values]="roles"></app-select-custom>

        <button class="btn btn-outline-success" (click)="changeUserRole(user.id, role.value)">Zmień role</button>
      </div>
    </div>

    <!-- Delete user -->
    <div class="collapse mt-3 w-100" [attr.id]="'delete-'+user.id">
      <h5>Usuń użytkownika:</h5>
      <div class="d-flex justify-content-center w-100">
        <button class="btn btn-outline-danger " (click)="deleteUser(user.id)" >Usuń</button>
      </div>
    </div>
  </div>
</div>