<div class="my-2 ">
    <div class="input-group">
        <div class="input-group-prepend">
            <span style="min-width: 100px;" class="input-group-text">{{title}}</span>
        </div>
        <textarea cols="50" rows="4" #inputTextArea (focusout)="focusOutEvent()" (keyup)="onKeyUpEvent()" [(ngModel)]="value" class="form-control"></textarea>
        <div class="input-group-append">
            <span *ngIf="successIconView===true" class="input-group-text bg-success"><i class="far fa-check-circle fa-1x"></i></span>
        </div>
    </div>
    <div *ngIf="validationInfoVisibility === true" class="text-center text-danger"> Minimalna długość to: {{length}} znaków.
    </div>
</div>