<app-title [statement]="statement" [title]="task.title" [subTitle]="task.description"></app-title>

<mat-tab-group dynamicHeight class="w-100">
    <mat-tab label="Ogólne">
        <app-task-details-general-tab [(task)]="task" (updateTaskEmitter)="updateTask()" [isOwner]="isOwner">
        </app-task-details-general-tab>
    </mat-tab>
    <mat-tab label="Automatycy ">
        <app-task-details-users-tab [appUsers]="task.appUsers" (addAppUserEmitter)="addAppUser($event)" (deleteAppUserEmitter)="deleteUser($event)">
        </app-task-details-users-tab>
    </mat-tab>
    <mat-tab label="Założenia ">
        <app-task-details-goals-tab [goals]="task.goals" [isOwner]="isOwner" (deleteGoalEmitter)="deleteGoal($event)" (modifyGoalEmitter)="modifyGoal($event)"></app-task-details-goals-tab>
    </mat-tab>
    <mat-tab label="Zadania ">

    </mat-tab>


</mat-tab-group>