<div class="d-flex flex-column justify-content-between border rounded" style="min-height: 800px">
    <div class="">

        <div class="btn-group dropright w-100 ">
            <button class="btn btn-outline-light dropdown-toggle border-bottom-1 border-top-0 border-left-0 border-right-0" data-toggle="dropdown" type="button">
        Prace do wykonania
      </button>
            <div class="dropdown-menu bg-light border-primary">
                <a class="dropdown-item" routerLink="/add-task">Dodaj nową pracę</a>
                <a class="dropdown-item" routerLink="/task-all">Wszystkie prace</a>

            </div>
        </div>

        <div class="btn-group dropright w-100 ">
            <button class="btn btn-outline-light dropdown-toggle border-bottom-1 border-top-0 border-left-0 border-right-0" data-toggle="dropdown" type="button">
        Utrzymanie ruchu
      </button>
            <div class="dropdown-menu bg-light border-primary">
                <a routerLink="/report-breakdown" class="dropdown-item " href="#">Zgłoś awarie</a>
                <a routerLink="/breakdowns" class="dropdown-item" href="#">Awarie</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink='/maintenance-wrokers'>Pracownicy UR</a>
            </div>
        </div>

        <div class="btn-group dropright w-100 ">
            <button class="btn btn-outline-light dropdown-toggle border-bottom-1 border-top-0 border-left-0 border-right-0" data-toggle="dropdown" type="button">
        Ustawienia
      </button>
            <div class="dropdown-menu bg-light border-primary">
                <a class="dropdown-item" routerLink="/admin-panel">Panel admina</a>
            </div>
        </div>
    </div>
    <div class="">
        <button (click)="logout()" *ngIf="isLogged" class="btn btn-outline-danger  w-100 border-light border-bottom-0 border-top-1 border-left-0 border-right-0" type="button">
      Wyloguj
    </button>

        <button *ngIf="!isLogged" class="btn btn-outline-success  w-100 border-light border-bottom-0 border-top-1 border-left-0 border-right-0" routerLink="/login" type="button">
      Zaloguj
    </button>

        <button class="btn btn-outline-primary  w-100 border-light border-bottom-0 border-top-1 border-left-0 border-right-0" routerLink="/register" type="button">
      Rejestracja
    </button>
    </div>

</div>