<div class="d-flex flex-column justify-content-between" style="min-height: 842px">
  <div class=""><!--  #1-->
    <div class="btn-group dropright w-100 ">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
        Dropright
      </button>
      <div class="dropdown-menu bg-primary border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>


    <!--  #2-->
    <div class="btn-group dropright w-100 ">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
        Dropright
      </button>
      <div class="dropdown-menu bg-primary border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>


    <!--  #2-->
    <div class="btn-group dropright w-100 ">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
        Dropright
      </button>
      <div class="dropdown-menu bg-primary border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>


    <!--  #3-->
    <div class="btn-group dropright w-100 ">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
        Dropright
      </button>
      <div class="dropdown-menu bg-primary border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </div>
  <div class="">
    <button type="button" class="btn btn-outline-danger  w-100">
      Wyloguj
    </button>

  </div>
</div>
