<div class="d-flex flex-column justify-content-between border rounded" style="min-height: 800px">
  <div class="">
    <!--  #1-->
    <div class="btn-group dropright w-100 ">
      <button class="btn btn-outline-light dropdown-toggle  border-bottom-1 border-top-0 border-left-0 border-right-0"
              data-toggle="dropdown" type="button">
        Dropright
      </button>
      <div class="dropdown-menu bg-light border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <div class="btn-group dropright w-100 ">
      <button class="btn btn-outline-light dropdown-toggle border-bottom-1 border-top-0 border-left-0 border-right-0 "
              data-toggle="dropdown" type="button">
        Dropright
      </button>
      <div class="dropdown-menu bg-light border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <div class="btn-group dropright w-100 ">
      <button class="btn btn-outline-light dropdown-toggle border-bottom-1 border-top-0 border-left-0 border-right-0"
              data-toggle="dropdown" type="button">
        Dropright
      </button>
      <div class="dropdown-menu bg-light border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <div class="btn-group dropright w-100 ">
      <button class="btn btn-outline-light dropdown-toggle border-bottom-1 border-top-0 border-left-0 border-right-0"
              data-toggle="dropdown" type="button">
        Dropright
      </button>
      <div class="dropdown-menu bg-light border-primary">
        <a class="dropdown-item " href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>


  </div>
  <div class="">
    <button (click)="logout()" *ngIf="isLogged"
            class="btn btn-outline-danger  w-100 border-light border-bottom-0 border-top-1 border-left-0 border-right-0"
            type="button">
      Wyloguj
    </button>

    <button *ngIf="!isLogged"
            class="btn btn-outline-success  w-100 border-light border-bottom-0 border-top-1 border-left-0 border-right-0"
            routerLink="/login" type="button">
      Zaloguj
    </button>

    <button
      class="btn btn-outline-primary  w-100 border-light border-bottom-0 border-top-1 border-left-0 border-right-0"
      routerLink="/register" type="button">
      Rejestracja
    </button>
  </div>

</div>
