<nav class="navbar navbar-dark  sticky-top ">
  <div class="navbar-brand">
    <img alt="" src="assets/img/bispol_logo.png" width="200px">
    <div class="ml-3"><b>Created by PCzech</b></div>
  </div>
  <div class="navbar-nav m-auto">
    <h1>Zadania - automatycy</h1>
  </div>

  <!--    Login form-->
  <form class="form-inline my-2 my-lg-0">
      <div class="input-group mr-2">
        <div class="input-group-prepend ">
          <span class="input-group-text bg-success">Login:</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-success">Hasło:</span>
        </div>
        <input type="password" class="form-control">
      </div>
    <button class="btn btn-outline-success ml-2" style="width: 150px">Zaloguj</button>
  </form>
<!--  Logout form -->
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-danger ml-2" style="width: 150px">Wyloguj</button>
  </form>
</nav>
