<div @fade class="">
    <app-title [title]="'Zgłoś awarie'" [statement]="statement"></app-title>
    <div class="
    d-flex 
    flex-column
    align-items-center
    mt-4
    ">
        <app-input-text-custom class="w-50" [(value)]="maintenaceTask.breakdownPlace" [title]=" 'Miejsce awarii:' " [length]="REPAIR_PLACE_MIN_LENGTH"></app-input-text-custom>
        <app-input-text-area-custom class="w-50" [(value)]="maintenaceTask.description" [title]=" 'Opis awarii:' " [length]="DESCRIPTION_MIN_LENGTH"></app-input-text-area-custom>
        <app-select-custom class="w-50" [title]="'Pracownik UR:'" [placeholder]="'Wybierz pracownika UR'"></app-select-custom>
    </div>