<app-title [statement]="statement" [title]="'Logowanie'"></app-title>
<div class="d-flex justify-content-center">
  <div class="card card-custom w-50" id="card-custom">
    <h3 class="mb-3">Logowanie</h3>

    <!--Login-->
    <div class="input-group mb-3 w-75">
      <div class="input-group-prepend">
        <span class="input-group-text" id="input-group-text-custom">Login:</span>
      </div>
      <input class="form-control" type="text">
    </div>
    <!--Password-->
    <div class="input-group mb-3 w-75">
      <div class="input-group-prepend ">
        <span class="input-group-text" id="input-group-text-custom">Hasło:</span>
      </div>
      <input class="form-control " type="password">
    </div>
  </div>

</div>
